<!Doctype html>
<html lang="es">
<head>
	<title>Agregar Productos a Sucursale</title>
</head>
<body>
<h1>Agregar Productos a Sucursales</h1>
<label>Producto:</label>
{% load staticfiles %}
<select id ="cmb_producto">
	<option value = "0"> Eligir...</option>
	{%for producto in productos%}
	<option value="{{producto.producto_id.id}}">{{producto.producto_id}}</option>


	{%endfor%}

</select>
	<br/>
<label>Stock Disponible:</label> <input   type="text" id = "stock_dispo" disabled/> <br>
{# <label>Stock Actual: </label><input type="text" /> <br> #}
<label>Stock Adicional:</label><input type="text"  id = "stock_add" /> <br>


  <input type = "button" id = "submit" value = "Registrar">

<!--  <table>
	<tr>
		<th>Producto</th>
		<th>Stock</th>
		<th>Fecha Ingreso</th>
		<th>Registrado por</th>
		<th>Modificar</th>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>  -->

<h2>Esto es para la Sucursal con id : {{id_sucursal}}</h2>

<span id = "sucursal" style = "visibility: hidden;"> {{id_sucursal}} </span>

<script src="{% static "static/js/jquery-1.8.3.min.js"%}"></script>
<script src="{% static "static/js/csrf.js"%}"></script>
<script type="text/javascript">
 
  $('#cmb_producto').on("change",function(){

  		var id_producto = $(this).val()


	 	$.ajax({

	  	 	data: {"codigo_producto": id_producto},
	  	 	url:'/mantenimientoSucursal/dameStock/',
	  	 	type:'get',
	  	 	success: function(data){
	 	 			if (data) {
	 	 			 	stock = data 
	 	 			 	$("#stock_dispo").val(stock);
	  	 			console.log(data);

	  	 			}
	  	 		  	 		
	  	 			else{

	  	 				$("#stock_dispo").val("");
	  	 				console.log("no hay nada");
	  	 			}
	 			

	  	 		}
	  	 		  	 	
	  	}),


  		console.log("cambio"  +  id_producto );
  	 });



 function isInteger(x) {
        return (typeof x === 'number') && (x % 1 === 0);
    }


$("#stock_add").on("blur",function(){

	  var valor  = $(this).val();

	  var type = isInteger(parseInt(valor));

	  

	  if  (type && valor > 0 ){

	  		 $("#stock_add").css('background' , '');
	  		 $("#submit").removeAttr("disabled", "disabled");

	  		
	  	}

	  	else {
	  		
	  		$("#stock_add").css('background' , 'red');
	  		$("#submit").attr("disabled", "disabled");
	  	}

	  
});


  $("#submit").on("click",function(){


  		var stock_dispo = $("#stock_dispo").val();
  		var stock_add = $("#stock_add").val();
  		var sucursal_id  = $("#sucursal").text();
  		var  producto_id =  $("#cmb_producto").val();
 		
  		
  		if(parseInt(stock_add) > parseInt(stock_dispo)){
 		
  			$("#stock_add").css('background' , 'red');
  			$("#submit").attr("disabled", "disabled");

  		}

  		else{

  			console.log("Enviando Datos  al  Servidor ")
  				$.ajax({

			  	 	data: {"producto_id": producto_id,
			  	 			"stock_add" : stock_add,
			  	 			"sucursal_id": sucursal_id
			  	 			},

			  	 	url:'/mantenimientoSucursal/addProductotoSucursal/',
			  	 	type:'post',

			  	 	success: function(data){

			 	 			if (data) {

			  	 			console.log(data);

			  	 			//buscar Otra opc para refrescar la pagina para que se actulice la nueva lista de DetalleAlmacen
			  	 			window.location.reload();
			 	 			
			  	 			}
			  	 		  	 		
			  	 			else{
			  	 				console.log("no hay nada");
			  	 			}
	  	 		    }	

  				});

  			}
  });





  


</script>
</html>