{% extends "baseAdmin.html" %}
{% block css %}
{% load staticfiles %}
  <link href="{% static "static/css/search.css"%}" rel="stylesheet">
      
{% endblock css %}
{% block content %}
{% load staticfiles %}
 <div class="row">
        <div class="col-sm-4 col-md-3">
            <h4 class="subtitle mb5">B&uacute;squeda Actual</h4>
            <input type="text" value="Sucursal {{sucursal.nombre}}" class="form-control" readOnly="readOnly"/>
            
            <div class="mb20"></div>
            
            <h4 class="subtitle mb5">Acci&oacute;n</h4>
          

                
                <div style="margin-top: 12px;">
                <a  class = "btn btn-primary" role="button" href="{% url "export" sucursal.id %}">Exportar Todos los Productos a Excel</a>
                </div>




            <div class="mb20"></div>
       
            <br />
                        
        </div><!-- col-sm-4 -->
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="pagination nomargin pull-right">

                        
                          {% if producto_x_page.has_previous %}
                            <li class=""><a href="?page={{ producto_x_page.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                            <!--<a href="?page={{ producto_x_page.previous_page_number }}">previous</a> -->
                          {% endif %}

                          <li class = "active"><a href="#"> {{ producto_x_page.number}}</a></li>

                          {% if producto_x_page.has_next %}
                            <!-- <a href="?page={{ producto_x_page.next_page_number }}">next</a>-->
                            <li><a href="?page={{ producto_x_page.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                          {% endif %}
                        



                        


                    </ul>
                    <h4 class="panel-title">Buscar resultados para "{{sucursal.nombre}}"</h4>
                    <!--<p>About 1,370 results (0.13 seconds)</p>-->
                </div><!-- panel-heading -->
                <div class="panel-body">
                    
                    <div class="results-list">

                      {% for  producto  in  producto_x_page %}
                        
                        <div class="media">
                            <a href="#" class="pull-left">
                              <!--<img alt="" src="{% static "images/photos/media1.jpg"%}" class="media-object">-->
                              <img alt="" src=" {{MEDIA_URL}}{{ producto.producto_id.imagen}}" class="media-object">
                            </a>
                            <div class="media-body">
                              <h4 class="filename text-primary">{{producto.producto_id}}</h4>
                              <small class="text-muted">Codigo Producto: {{producto.producto_id.codigo}}</small><br />
                              <small class="text-muted">Stock: {{producto.stock}}</small><br />
                              <small class="text-muted">Fecha Ingreso: {{producto.fecha_ingreso | date:" D d M Y" }}</small><br/>
                              <small class="text-muted">Color: {{producto.producto_id.get_color_display}}</small><br />
                              <small class="text-muted">Marca: {{producto.producto_id.marca}}</small><br />
                              <small class="text-muted">Tipo: {{producto.producto_id.tipo_producto}}</small><br />
                            </div>
                        </div>

                      {% empty%}

                        <h3> No se han Asignado Productos a esta Sucursal </h3>
                        
                      {% endfor %}
                        
                        
                    </div><!-- results-list -->
                    
                </div><!-- panel-body -->
            </div><!-- panel -->
        </div><!-- col-sm-8 -->
      </div><!-- row -->


  
{% endblock content %}
        


{% block javascript %}
{% load staticfiles %}
<script src="{% static "static/js/general/jquery-ui-1.10.3.min.js"%}"></script>
<script src="{% static "static/js/general/select2.min.js"%}"></script>
<script src="{% static "static/js/sucursal/listarProductoSucursal.js"%}"></script>

{% endblock javascript %}


    </body>
</html>
