{% extends "baseAdmin.html" %}
{% block content %}
{% load  staticfiles %}
    <div class="row menuGeneral menuProducto">


            <div class="col-sm-12">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="panel-btns">
                           <!-- <a href="" class="panel-close">×</a> -->
                            <a href="" class="minimize">−</a>
                          </div><!-- panel-btns -->
                          <h3 class="panel-title">Asignaci&oacute;n de Productos</h3>
                        </div>
                        <div class="panel-body">
                             <div class="col-sm-6 col-md-3">
                                  <div class="panel panel-danger panel-stat">
                                    <a href="{% url "add" %}">
                                    <div class="panel-heading">

                                      <div class="stat">
                                        <div class="row">
                                          <div class="col-xs-4">
                                            <img src="{% static "static/images/plus3.png"%}" alt="" />
                                          </div>
                                          <div class="col-xs-8">
                                            <small class="stat-label">Registrar</small>
                                            <h3>Productos</h3>
                                          </div>
                                        </div><!-- row -->

                                        <div class="mb15"></div>

                                        <!-- <small class="stat-label">Avg. Visit Duration</small>
                                        <h4>01:80:22</h4 >-->

                                      </div><!-- stat -->

                                    </div><!-- panel-heading -->
                                    </a>
                                  </div><!-- panel -->
                              </div><!-- col-sm-6 -->


                               <div class="col-sm-6 col-md-3">
                                    <div class="panel panel-danger panel-stat">
                                        <a href="{% url "edit" %}">
                                        <div class="panel-heading">

                                          <div class="stat">
                                            <div class="row">
                                              <div class="col-xs-4">
                                                <img src="{% static "static/images/edit3.png"%}" alt="" />
                                              </div>
                                              <div class="col-xs-8">
                                                <small class="stat-label">Modificar</small>
                                                <h3>Productos</h3>
                                              </div>
                                            </div><!-- row -->

                                            <div class="mb15"></div>

                                           <!--  <small class="stat-label">Avg. Visit Duration</small>
                                            <h4>01:80:22</h4> -->

                                          </div><!-- stat -->

                                        </div><!-- panel-heading -->
                                        </a>
                                     </div><!-- panel -->
                                </div><!-- col-sm-6 -->


                                <div class="col-sm-6 col-md-3">
                                  <div class="panel panel-danger panel-stat">
                                    <a href="{% url "list" %}">
                                    <div class="panel-heading">

                                      <div class="stat">
                                        <div class="row">
                                          <div class="col-xs-4">
                                            <img src="{% static "static/images/reportes.png"%}" alt="" />
                                          </div>
                                          <div class="col-xs-8">
                                            <small class="stat-label">Listar</small>
                                            <h3>Productos</h3>
                                          </div>
                                        </div><!-- row -->

                                        <div class="mb15"></div>

                                      <!--   <small class="stat-label">Avg. Visit Duration</small>
                                        <h4>01:80:22</h4> -->

                                      </div><!-- stat -->

                                    </div><!-- panel-heading -->
                                    </a>
                                  </div><!-- panel -->
                                </div><!-- col-sm-6 -->
                        </div>
                      </div><!-- panel -->
             </div>

      </div><!-- row -->



<!-- FULL HISTORIALES :D-->
        <div class="row  menuGeneral menuHistoral  hidden ">
            <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-btns">
                                <!-- <a href="" class="panel-close">×</a> -->
                                <a href="" class="minimize">−</a>   
                            </div><!-- panel-btns -->
                            <h3 class="panel-title"> Historiales </h3>
                         </div>

                            <div class="panel-body">
                                 <div class="col-sm-6 col-md-3">
                                      <div class="panel panel-danger panel-stat">
                                            <a href="{% url "historialVentas" %}">
                                            <div class="panel-heading">

                                          <div class="stat">
                                            <div class="row">
                                              <div class="col-xs-4">
                                                <img src="{% static "static/images/plus3.png"%}" alt="" />
                                              </div>
                                              <div class="col-xs-8">
                                                <small class="stat-label">Ventas</small>
                                                <h3>Ventas</h3>
                                              </div>
                                            </div><!-- row -->

                                            <div class="mb15"></div>


                                          </div><!-- stat -->

                                        </div><!-- panel-heading -->
                                        </a>
                                      </div><!-- panel -->
                                </div><!-- col-sm-6 -->



                        </div>
                    </div><!-- panel -->
            </div>

        </div><!-- row -->
    
{% endblock content %}
{% block javascript %}
  <script type="text/javascript">
  $(function() {
      
      $( ".leftpanel .leftpanelinner" ).on( "click", ".nav-parent", function() {
          var menuSeleccionado=$(this).prop('id');
          $(".menuGeneral").addClass('hidden');
          $("."+menuSeleccionado).removeClass('hidden');

      });
  });
  </script>
{% endblock javascript %}