{% extends "baseAdmin.html" %}
{% block css %}

  
{% endblock css %}

{% block content %}
  {% load staticfiles %}

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-btns">
                           <!-- <a href="" class="panel-close">×</a>-->
                          <a href="" class="minimize">−</a>
                          </div><!-- panel-btns -->
                          <h3 class="panel-title">Modificar Productos a Sucursales</h3>
                        </div>
            <div class="panel-body">
   
                <div class="form-group">
                  <label class="col-sm-3 control-label">Producto <span class="asterisk">*</span></label>
                  <div class="col-sm-9">
                    <select  id = "cmb_producto"class="select2" data-placeholder="Escoger Producto...">
                          <option value=""></option>
                          {% for producto  in productos %}
                               <option value="{{producto.id}}">{{producto}}</option>
                          {% endfor %}
                    </select>
                  </div>
                </div>

              <div class="form-group">
                      <label class="col-sm-3 control-label">Stock Disponible</label>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-3"> 
                            <input type="text" value="0" id="stock_dispo" readonly="readonly" class="form-control" />
                            
                          </div>
                          <div class="col-sm-8"></div>
                          <span class="help-block">Stock disponible, m&aacute;ximo en el almacen.</span>
                        </div>
                        
                      </div>
                </div>
                 <div class="form-group">
                      <label class="col-sm-3 control-label">Stock Actual:</label>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-3">
                               <input type="text" value="0" id="stock_actual" readonly="readonly" class="form-control" />
                          </div>
                          <span class="help-block">Stock registrado actual, en la sucursal.</span>
                        </div>

                      </div>
                </div>
                 <div class="form-group">
                      <label class="col-sm-3 control-label">Stock Adicional:</label>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-3">
                            <input type="text" value="0" id="stock_adcional" class=" form-control" />
                          </div>
                        
                           <div role="alert" class="col-sm-9 alert alert-danger fade in hide numIncorrecto" style="padding: 9px;">
                              <strong>Error!</strong> Ingrese un n&uacute;mero correcto o mayor a "0"
                            </div>
                            <div role="alert" class="col-sm-9 alert alert-danger fade in hide numMaximo" style="padding: 9px;">
                              <strong>Error!</strong> Ingrese un n&uacute;mero menor a la cantidad m&aacute;xima en stock.
                            </div>
                        </div>
                      </div>
                </div>

                <div class="form-group">
                      <label class="col-sm-3 control-label">Stock Disminuir:</label>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-3">
                            <input type="text" value="0" id="stock_disminuir" class=" form-control" disabled="disabled"/>
                          </div><span></span>
                          <div class="col-sm-3">
                            <input type="checkbox" id="chbModificar"value="">
                          </div>
                        
                           <div role="alert" class="col-sm-6 alert alert-danger fade in hide numIncorrecto" style="padding: 9px;">
                              <strong>Error!</strong> Ingrese un n&uacute;mero correcto o mayor a "0"
                            </div>
                            <div role="alert" class="col-sm-6 alert alert-danger fade in hide numMaximo" style="padding: 9px;">
                              <strong>Error!</strong> Ingrese un n&uacute;mero menor a la cantidad m&aacute;xima en stock.
                            </div>
                        </div>
                      </div>
                </div>

         </div> <!-- panel body-->

            <div class="panel-footer">
             <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <button id = "guardar" class="btn btn-primary"  disabled>Modificar</button>&nbsp;
                  <button class="btn btn-default">Limpiar</button>
                </div>
             </div>
          </div><!-- panel-footer -->


                      </div><!-- panel -->
            </div>


      <span id = "sucursal" style = "visibility: hidden;"> {{id_sucursal}} </span>

      </div><!-- row -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #428bca;">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">Mensaje</h4>
        </div>
        <div class="modal-body"></div>
    </div>
  </div>
</div>



  
{% endblock content %}

{% block javascript %}
{% load staticfiles %}

<script src="{% static "static/js/general/jquery-ui-1.10.3.min.js"%}"></script>
<script src="{% static "static/js/general/select2.min.js"%}"></script>
<script src="{% static "static/js/general/csrf.js"%}"></script>
<script src="{% static "static/js/sucursal/modificarProductoSucursal.js"%}"></script>

{% endblock javascript %}