{% extends "baseAdmin.html" %}
{% block css %}

  
{% endblock css %}

{% block content %}
  {% load staticfiles %}

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-btns">
                           <!-- <a href="" class="panel-close">×</a>-->
                          <a href="" class="minimize">−</a>
                          </div><!-- panel-btns -->
                          <h3 class="panel-title">Modificar Productos a Sucursales</h3>
                        </div>
            <div class="panel-body">
   
                <div class="form-group">
                  <label class="col-sm-3 control-label">Producto <span class="asterisk">*</span></label>
                  <div class="col-sm-9">
                    <select  id = "cmb_producto"class="select2" data-placeholder="Escoger Producto...">
                          <option value=""></option>
                          {% for producto  in productos %}
                               <option value="{{producto.id}}">{{producto}}</option>
                          {% endfor %}
                    </select>
                  </div>
                </div>

              <div class="form-group">
                      <label class="col-sm-3 control-label">Stock Disponible</label>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-3"> 
                            <input type="text"  id="stock_dispo" readonly="readonly" class="form-control" />
                            
                          </div>
                          <div class="col-sm-8"></div>
                          <span class="help-block">Enhance a text input for entering numeric values, with up/down buttons and arrow key handling.</span>
                        </div>
                        
                      </div>
                </div>
                 <div class="form-group">
                      <label class="col-sm-3 control-label">Stock Actual:</label>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-3">
                               <input type="text" id="stock_actual" readonly="readonly" class="form-control" />
                          </div>
                          <span class="help-block">Enhance a text input for entering numeric values, with up/down buttons and arrow key handling.</span>
                        </div>

                      </div>
                </div>
                 <div class="form-group">
                      <label class="col-sm-3 control-label">Stock Adicional:</label>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-3">
                            <input type="text" id="stock_adcional" class="spinner form-control" />
                          </div>
                        <span class="help-block">Enhance a text input for entering numeric values, with up/down buttons and arrow key handling.</span>
                        </div>
                      </div>
                </div>

         </div> <!-- panel body-->

            <div class="panel-footer">
             <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <button id = "guardar" class="btn btn-primary">Modificar</button>&nbsp;
                  <button class="btn btn-default">Limpiar</button>
                </div>
             </div>
          </div><!-- panel-footer -->


                      </div><!-- panel -->
            </div>


      <span id = "sucursal" style = "visibility: hidden;"> {{id_sucursal}} </span>

      </div><!-- row -->


  
{% endblock content %}

{% block javascript %}

  {% load staticfiles %}

<script src="{% static "static/js/sucursal/jquery-ui-1.10.3.min.js"%}"></script>
<script src="{% static "static/js/sucursal/select2.min.js"%}"></script>
<script src="{% static "static/js/csrf.js"%}"></script>


</script>

<script type="text/javascript">

jQuery(document).ready(function(){
    
    "use strict";
  // Select2
  jQuery(".select2").select2({
    width: '100%'
  });

 // Spinner
var spinner = jQuery('.spinner').spinner();
  spinner.spinner('value', 0);
  spinner.spinner({min: 0});
});


    $('#cmb_producto').on("change",function(){

      var id_producto = $(this).val()
      var id_sucursal  = $("#sucursal").text();

      console.log(id_producto , id_sucursal);

    $.ajax({

        data: {"codigo_producto": id_producto},
        url:'/mantenimientoSucursal/dameStock/',
        type:'get',

                
      })
        .done(function(data){
          stock = data 
          $("#stock_dispo").val(stock);

        })

        .fail(function(data){
          console.log("no hay nada");
        })

        .then(function(data){

          $.ajax({


            data: {"codigo_producto": id_producto,
                "codigo_sucursal": id_sucursal },
            url: '/mantenimientoSucursal/StockDetalleSucursalAlamcen/',
            type : 'get',



          })
            .done(function(data){

              var stock_actual = data
              $("#stock_actual").val(stock_actual);
              console.log(data);

            })

            .fail(function(data) {
              // body...

              console.log("Ups...")
            });
        });


      console.log("cambio"  +  id_producto );
     });




//Permitir que solo se digiten numero en el teclado
    $("#stock_adcional").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
             // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && ( e.ctrlKey === true || e.metaKey === true ) ) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });



   $("#stock_adcional") .keyup(function(e){

      var stk_add = parseInt($(this).val());
      var stk_dispo = parseInt($("#stock_dispo").val());

      console.log("stk_add" , stk_add   + " and " +  "stk_dispo" , stk_dispo);

        bool = stk_add <= stk_dispo 
      console.log(bool);


      if( stk_add <= stk_dispo )
      {
         $("#guardar").removeAttr("disabled", "disabled");
      }
      else{
        $("#guardar").attr("disabled", "disabled");
      }

   });




 $("#guardar").on("click" , function(){

  //capturar todos los datos para la modificacion
  var sucursal_id  = $("#sucursal").text();
  var  producto_id =  $("#cmb_producto").val();
  var stock_add = $("#stock_adcional").val();
  var stock_dispo = $("#stock_dispo").val();

  $.ajax({

    data:{

      "sucursal_id" : sucursal_id,
      "producto_id" : producto_id,
      "stock_add" : stock_add,
      "stock_dispo" : stock_dispo,

    },

    url: "/mantenimientoSucursal/editProductotoSucursal/",
    type:"POST",


  })

    .done(function(data){

      console.log(data);
      window.location.reload();


    })

    .fail(function(){

      console.log("Problemas con el SERVER ");
    });

 });
</script>


  
{% endblock javascript %}