{% extends "baseAdmin.html" %}
{% block css %}
  {% load staticfiles %}

  
{% endblock css %}

{% block content %}
  {% load staticfiles %}

  <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-btns">
                           <!-- <a href="" class="panel-close">×</a>-->
                          <a href="" class="minimize">−</a>
                          </div><!-- panel-btns -->
                          <h3 class="panel-title">Registrar Productos a Sucursales</h3>
                        </div>
            <div class="panel-body">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Producto <span class="asterisk">*</span></label>
                  <div class="col-sm-9">

                    <select id ="cmb_producto" class="select2" data-placeholder="Escoger Producto...">
                          <option value=""></option>
                          {%for producto in productos%}
                          <option value="{{producto.producto_id.id}}">{{producto.producto_id}}</option>
                          {%endfor%}
                    </select>
                  </div>
                </div>
                

                 <div class="form-group">
                      <label class="col-sm-3 control-label">Stock Disponible</label>
                      <div class="col-sm-9"> 
                        <div class="row">
                          <div class="col-sm-3">
                               <input type="text" id="stock_dispo" readonly="readonly" class="form-control"  value="0"/>
                          </div>
                          <span class="help-block">Stock disponible, m&aacute;ximo en el almacen.</span>
                        </div>
                      </div>
                </div>
                 <div class="form-group">
                      <label class="col-sm-3 control-label">Stock a Asignar</label>
                      <div class="col-sm-9">
                         <div class="row">
                            <div class="col-sm-3">
                              <input type="text" id="stock_add" class="form-control" value="0"/>
                            </div>
                            <!-- <span class="help-block"> -->
                            <div role="alert" class="col-sm-9 alert alert-danger fade in hide numIncorrecto" style="padding: 9px;">
                              <strong>Error!</strong> Ingrese un n&uacute;mero correcto o mayor a "0"
                            </div>
                            <div role="alert" class="col-sm-9 alert alert-danger fade in hide numMaximo" style="padding: 9px;">
                              <strong>Error!</strong> Ingrese un n&uacute;mero menor a la cantidad m&aacute;xima en stock.
                            </div>
                            <!-- </span> -->
                        </div>
                      </div>
                </div>

         </div>

            <div class="panel-footer">
             <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <button id = "submit" class="btn btn-primary">Registrar</button>&nbsp;
                  <button class="btn btn-default">Limpiar</button>
                </div>
             </div>
          </div><!-- panel-footer -->


                      </div><!-- panel -->
            </div>

                  <span id = "sucursal" style = "visibility: hidden;"> {{id_sucursal}} </span>


      </div><!-- row -->
  
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header" style="
    background-color: #428bca;
">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">Mensaje</h4>
        </div>
        <div class="modal-body"></div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
  {% load staticfiles %}
<script src="{% static "static/js/general/select2.min.js"%}"></script>
<script src="{% static "static/js/general/csrf.js"%}"></script>
<script src="{% static "static/js/general/jquery-ui-1.10.3.min.js"%}"></script>
<script src="{% static "static/js/sucursal/registrarProductoSucursal.js"%}"></script>
{% endblock javascript %}