{% extends "baseAdmin.html" %}
{% block css %}
    {% load staticfiles %}
     <link href="{% static "static/css/jquery.datatables.css"%}" rel="stylesheet">
    <link href="{% static "static/css/bootstrap-datetimepicker.min.css"%}" rel="stylesheet">
{% endblock css %}

{% block content %}

{% load staticfiles %}

 <div class="row">


    <div class="row">

        <div class='col-md-4'>
            <div class="form-group">
                <label class="control-label">Inicio:</label>
                <div class='input-group date' id='datetimepicker1' >
                        <input type='text' class="form-control"  id ="dateValueInicio" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>
        </div>
        <div class='col-md-4'>
            <label class="control-label">Fin:</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'  >
                        <input type='text' class="form-control"  id = "dateValueFin"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
        </div>

      
          
        <div class='col-md-4'>
            <label class="control-label">Acci&oacute;n:</label>
            <div class="form-group">
                  <button id="buscar" class="btn btn-primary">Buscar</button>
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                  <label for="totalVentasFechas" class="control-label">Total:</label>
                  
                      <input type="text" class="form-control" id="totalVentasFechas" placeholder="Total de Ventas" readOnly="readOnly">
            </div>
        </div>
    </div>
<!-- tabla 2 -->

        <div class="table-responsive">
                <div id="table1_wrapper" class="dataTables_wrapper no-footer">
                <table class="table dataTable no-footer table-hidaction table-hover" id="table1" role="grid" aria-describedby="table1_info">
                  <thead>
                         <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="activate to sort column ascending" style="width: 182px;">#</th>

                            <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Empleado: activate to sort column ascending" style="width: 233px;">Empleado</th>

                            <th class="sorting center" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Monto Venta: activate to sort column ascending" style="width: 153px;">Monto Venta</th>

                            <th class="sorting center" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Fecha: activate to sort column ascending" style="width: 110px;">Fecha </th>

                            <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Codigo: activate to sort column ascending" style="width: 253px;"> Ver</th>

                        </tr>
                  </thead>


                  <tbody id = "result">

                    {% for  venta in  ventas %}

                        <tr class="gradeA odd" role="row">

                            <td class ="gradeA {% cycle 'odd' 'even' %}"> {{forloop.counter}}</td>
                            <td>{{venta.empleado.trabajador.get_full_name}}</td>
                            <td class = "center">{{venta.total}}</td>
                            <td class ="center">{{venta.fecha_emision| date:" D d M Y" }}  {{venta.fecha_emision|date:"P"}}</td>
                            <td>
                               <a  class ="ventaDetalle" href ="#" data-venta ="{{venta.id}}" data-target=".bs-example-modal-lg" data-toggle="modal">ver</a>
                            </td>
                        </tr>

                    {% empty %}

                        <tr class="gradeA odd" role="row">  


                            <td class ="center" > No hay Ventas Registradas</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                             
                        </tr>

                        
                    {% endfor %}

                 </tbody>
               </table>
           </div>
    </div>

<!-- tabla 2-->
        
        <div aria-hidden="true" aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1" class="modal fade bs-example-modal-lg" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">DETALLE DE VENTA</h4>
                    </div>
                <div class="modal-body">...</div>
      
                </div>
            </div>
        </div>

                  
    </div><!-- row -->





<!-- Modal Ganancia-->
<div class="modal fade ganacia-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header" style="
    background-color: #428bca;
">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">TOTAL VENTAS</h4>
        </div>
        <div class="modal-body"></div>
    </div>
  </div>
</div>


    
{% endblock content %}

{% block javascript %}
    {% load staticfiles %}
    <script src="{% static "static/js/jquery.datatables.min.js"%}"></script>
    <script src="{% static "static/js/sucursal/moment.min.js"%}"></script>
    <script src="{% static "static/js/sucursal/bootstrap-datetimepicker.min.js"%}"></script>
    <script src="{% static "static/js/sucursal/moment-local.es.js"%}" charset="UTF-8"></script>
    
    

    <script type="text/javascript">
  jQuery(document).ready(function() {
    
    "use strict";
    
    jQuery('#table1').dataTable();
    
   
    
    // Select2
    
    
    
    // Delete row in a table
    jQuery('.delete-row').click(function(){
      var c = confirm("Continue delete?");
      if(c)
        jQuery(this).closest('tr').fadeOut(function(){
          jQuery(this).remove();
        });
        
        return false;
    });
    



       $('#datetimepicker1').datetimepicker({
         format:'DD/MM/YYYY',
         locale:'es'
         
       });
        $('#datetimepicker2').datetimepicker({
            format:'DD/MM/YYYY',
            locale:'es',
            //useCurrent: false //Important! See issue #1075

        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });



    //Boton para buscar el resultado de la fechas en un Rango de días 

    $("#buscar").on("click", function(){


        var fechaInicio  =  $("#dateValueInicio").val();
        console.log("#fechaInicial:  " ,fechaInicio);
        var fechaFinal = $("#dateValueFin").val();
        console.log("fechaFinal:  " ,fechaFinal);



        $.ajax({


            data:{'fechaInicio' : fechaInicio  , 'fechaFinal' : fechaFinal},
            url : "/mantenimientoSucursal/ventasRangoFecha/",
            type:'GET',

        })

        .done(function(data){
  //          alert("test1");

            //var info = $.parseJSON(data);

//            alert("test1.5");
            var total = data.slice((data.length-1),(data.length))
            data =  data.slice(0,data.length-1)
            console.log(total)

            //console.log(info);

            $('#totalVentasFechas').val(total[0].total);
            var tabla_body = $("#result");


            tabla_body.empty();

            var result = [];



            for (var i = 0 ; i < data.length ; i++){


                  var row = $("<tr>"+
                    "<td>"+(i+1)+"</td>"+
                    "<td>"+data[i].empleado+"</td>"+
                    "<td>"+data[i].total+"</td>"+
                    "<td>"+data[i].fecha_emision+"</td>"+
                    

                    "<td> <a  class ='ventaDetalle' href ='#' data-venta = " + data[i].id +" "+ "data-target ='.bs-example-modal-lg' data-toggle='modal'>ver</a><td>"+ 
                    "</tr>");

                    result.push(row)

            }


                tabla_body.append(result);



        })
        .fail(function(){

        });

        //alert(fechaInicial,"",fechaFinal);

    });

//---------------------------------------------------------------------------------------


    $("#buscarTotal").on("click", function(){

        var fechaInicio  =  $("#dateValueInicio").val();
        var fechaFinal = $("#dateValueFin").val();
        $.ajax({

            data:{'fechaInicio' : fechaInicio  , 'fechaFinal' : fechaFinal},
            url : "/mantenimientoSucursal/totalVentasRangoFecha/",
            type:'GET',
        })

        .done(function(data){

            console.log(data);

           // alert(data.suma_totales_venta);

            $('.modal-body').text(data.suma_totales_venta);
            $('.ganacia-example-modal-sm').modal('show');





        })
        .fail(function(){

        });


    });











    // // Show aciton upon row hover
    // jQuery('.table-hidaction tbody tr').hover(function(){
    //   jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    // },function(){
    //   jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    // });
  

//$(".ventaDetalle").on("click" , function(){


    $('body').delegate('.ventaDetalle','click', function(){


    console.log("me llamaron ");

    var codigo = $(this).attr( "data-venta" );
        console.log(codigo);
      $.ajax({

              data : {'codigo' : codigo },
              url :"/mantenimientoSucursal/detalle/ver/",
              type : 'GET',
              })
              .done(function(data){

               console.log(data);
                var table =  createTable();
                var result = []

                for( var i = 0  ;  i<data.length ; i++){

                var row = $("<tr>"+
                    "<td>"+(i+1)+"</td>"+
                    "<td>"+data[i].producto+"</td>"+
                    "<td>"+data[i].tipo_precio+"</td>"+
                    "<td>"+data[i].cantidad+"</td>"+
                    "<td>"+data[i].precio_real+"</td>"+
                    "<td>"+data[i].precio+"</td>"+
                    "<td>"+data[i].descripcion+"</td>"+
                    "<td>"+data[i].importe+"</td>"+
                    +"</tr>");

                    result.push(row)

                }

                var tbody  = $("<tbody/>");
                tbody.append(result);
                tbody.appendTo(table);


                $('.modal-body').html("");
                $('.modal-body').append(table);
              
                

              })
              .fail(function(){
                alert("fail");
              });

})


function createTable(){

    var table  = $(" <table class='table dataTable no-footer table-hidaction table-hover' id='table1' role='grid' aria-describedby='table1_info'>") ;
    var thead = $(" <thead> <tr> <td>#</td><td>producto</td><td>tipo precio</td><td>CANT</td><td>Pre.Real</td><td>Pre.Vendido</td><td>DESCRIPCIÓN</td><<td>IMPORTE</td><tr></thead>");


    thead.appendTo(table);
    return table;

}


  
  });
</script>
  
{% endblock javascript %}