/*#cabecera, #menu, #lateral, #comentarios {
  display: none !important;
}
*/
.leftpanel, .logopanel, .leftpanelinner,
 .rightpanel, .headerbar , .pageheader,.divBtnImprimir
 {
 	display: none !important;
 	margin:  0 !important;
  	padding: 0 !important;
 }
/*
body, #contenido, #principal, #pie {
  float: none !important;
  width: auto !important;
  margin:  0 !important;
  padding: 0 !important;
}
*/
body, .mainpanel, .contentpanel, .row, .col-xs-12 {
  float: none !important;
  width: auto !important;
  margin:  0 !important;
  padding: 0 !important;

}

body { color: #000; font: 100%/150% Georgia, "Times New Roman", Times, serif; }

a:after {
  content: " (" attr(href) ") ";
}

a:before {
  content: " (" attr(href) ") ";
}

h2{
  font-size: 16px;
}
 html, body 
 {
  /*
   height: 297mm; 
   width: 296.994mm;
   */
     /*   width: 210mm;
            height: 297mm;   
           */
              /*  A5 dimensions */
   /* height: 210mm;
    width: 148.5mm;
    margin: 0;    
    */ 
    /* width: 148mm;
            height: 210mm;*/
}
div[size="A4"] {
width: 210mm;
            height: 297mm;  
}
div[size="A5"] {
  width: 148mm;
  height: 210mm;
}
/*
@page {
    /* dimensions for the whole page 
    size: A5;
    
    margin: 0;
}*/