<!DOCTYPE html>
<html>
<head>
	<title> Home Empleado  </title>
</head>




<body>


	<div>
	<h1>
		<label> 	HOLA! : {{trabajador.trabajador.get_full_name}}  </label> 
	



	</h1>

	empleado :  {{trabajador.trabajador.get_full_name}}



	

	<br>

		<label> Codigo   Puesto </label> : {{trabajador.sucursal.codigo_puesto}}
		<label>Direccion :</label>   {{trabajador.sucursal.direccion}}  <br>
		<label>Departamento :  </label>  {{trabajador.sucursal.get_departamento_display}}
		<label>Telefono</label> : {{trabajador.sucursal.telefono}}
	</div>	






	<div>
	<ol>
		<li>
			<a href="{% url "venta" %}">Registrar Venta</a>
		</li>
<!--{# 		<li>
			<a href="{% url "edit" %}"> Modificar Venta</a>
		</li> #}-->
		<li>
			<a href="{% url "lista_producto" %}">Lista de  Productos </a>
		</li>

		<li>
			<a href="{% url "reporteve"%}">Reporte Ventas</a>
		</li>

		<li>
			<a href="">Modificar Venta </a>
		</li>
	

	</ol>
	

</div>

</body>
</html>