{% extends "base.html" %}

{% block content %}

	{% load staticfiles%}
	<div class = "row menuVender menuGeneral" >

			<div class="col-sm-12">
			          <div class="panel panel-primary">
				            <div class="panel-heading">
				              	<div class="panel-btns">
				               	<!-- <a href="" class="panel-close">×</a> -->
					                <a href="" class="minimize">−</a>
					            </div><!-- panel-btns -->
					             <h3 class="panel-title">Ventas</h3>
					         </div>
			            <div class="panel-body">
			                
						       


						        <div class="col-sm-6 col-md-3">
						          <div class="panel panel-danger panel-stat">
                                    <a href="{% url "venta" %}">
						            <div class="panel-heading">

						              <div class="stat">
						                <div class="row">
						                  <div class="col-xs-4">
						                    <img src="{% static "static/images/reportes.png"%}" alt="" />
						                  </div>
						                  <div class="col-xs-8">
						                    <small class="stat-label">VENTAS</small>
						                    <h3>Registar </h3>


						                  </div>
						                </div><!-- row -->

						                <div class="mb15"></div>

						              <!--   <small class="stat-label">Avg. Visit Duration</small>
						                <h4>01:80:22</h4> -->

						              </div><!-- stat -->

						            </div><!-- panel-heading -->
                                    </a>
						          </div><!-- panel -->
						        </div><!-- col-sm-6 -->

						        <!--................................................-->



						        <div class="col-sm-6 col-md-3">
						          <div class="panel panel-danger panel-stat">
                                    <a href="{% url "modificar" %}">
						            <div class="panel-heading">

						              <div class="stat">
						                <div class="row">
						                  <div class="col-xs-4">
						                    <img src="{% static "static/images/reportes.png"%}" alt="" />
						                  </div>
						                  <div class="col-xs-8">
						                    <small class="stat-label">VENTAS</small>
						                    <h3> Modificar </h3>
						                  </div>
						                </div><!-- row -->

						                <div class="mb15"></div>

						              <!--   <small class="stat-label">Avg. Visit Duration</small>
						                <h4>01:80:22</h4> -->

						              </div><!-- stat -->

						            </div><!-- panel-heading -->
                                    </a>
						          </div><!-- panel -->
						        </div><!-- col-sm-6 -->









			            </div><!--panel-body-->
			          </div><!-- panel -->
			 </div>
	</div>


		<div class = "row menuAsistencia menuGeneral hidden">

			<div class="col-sm-12">
			          <div class="panel panel-primary">
				            <div class="panel-heading">
				              	<div class="panel-btns">
				               	<!-- <a href="" class="panel-close">×</a> -->
					                <a href="" class="minimize">−</a>
					            </div><!-- panel-btns -->
					             <h3 class="panel-title">Asistencia</h3>
					         </div>
			            <div class="panel-body">
			                
						       


						        <div class="col-sm-6 col-md-3">
						          <div class="panel panel-danger panel-stat">
                                    <a href="{% url "asistencia:asistencia" %}">
						            <div class="panel-heading">

						              <div class="stat">
						                <div class="row">
						                  <div class="col-xs-4">
						                    <img src="{% static "static/images/reportes.png"%}" alt="" />
						                  </div>
						                  <div class="col-xs-8">
						                    <small class="stat-label">Asistencia</small>
						                    <h3>Registar</h3>
						                  </div>
						                </div><!-- row -->

						                <div class="mb15"></div>

						              <!--   <small class="stat-label">Avg. Visit Duration</small>
						                <h4>01:80:22</h4> -->

						              </div><!-- stat -->

						            </div><!-- panel-heading -->
                                    </a>
						          </div><!-- panel -->
						        </div><!-- col-sm-6 -->

						        <!--................................................-->
			            </div><!--panel-body-->
			          </div><!-- panel -->
			 </div>
	</div>




			<div class = "row  menuReporte menuGeneral hidden">

			<div class="col-sm-12">
			          <div class="panel panel-primary">
				            <div class="panel-heading">
				              	<div class="panel-btns">
				               	<!-- <a href="" class="panel-close">×</a> -->
					                <a href="" class="minimize">−</a>
					            </div><!-- panel-btns -->
					             <h3 class="panel-title">Reporte</h3>
					         </div>
			            <div class="panel-body">
			                
						       


						        <div class="col-sm-6 col-md-3">
						          <div class="panel panel-danger panel-stat">
                                    <a href="{% url "asistencia:reporteAsistencia" %}">
						            <div class="panel-heading">

						              <div class="stat">
						                <div class="row">
						                  <div class="col-xs-4">
						                    <img src="{% static "static/images/reportes.png"%}" alt="" />
						                  </div>
						                  <div class="col-xs-8">
						                    <small class="stat-label">Reporte</small>
						                    <h3>Asistencia</h3>
						                  </div>
						                </div><!-- row -->

						                <div class="mb15"></div>

						              <!--   <small class="stat-label">Avg. Visit Duration</small>
						                <h4>01:80:22</h4> -->

						              </div><!-- stat -->

						            </div><!-- panel-heading -->
                                    </a>
						          </div><!-- panel -->
						        </div><!-- col-sm-6 -->


						        <div class="col-sm-6 col-md-3">
						          <div class="panel panel-danger panel-stat">
                                    <a href="{% url "reporteStock" %}">
						            <div class="panel-heading">

						              <div class="stat">
						                <div class="row">
						                  <div class="col-xs-4">
						                    <img src="{% static "static/images/reportes.png"%}" alt="" />
						                  </div>
						                  <div class="col-xs-8">
						                    <small class="stat-label">Reporte</small>
						                    <h3>Productos</h3>
						                  </div>
						                </div><!-- row -->

						                <div class="mb15"></div>

						              <!--   <small class="stat-label">Avg. Visit Duration</small>
						                <h4>01:80:22</h4> -->

						              </div><!-- stat -->

						            </div><!-- panel-heading -->
                                    </a>
						          </div><!-- panel -->
						        </div><!-- col-sm-6 -->



						        <div class="col-sm-6 col-md-3">
						          <div class="panel panel-danger panel-stat">
                                    <a href="{% url "reporteVenta" %}">
						            <div class="panel-heading">

						              <div class="stat">
						                <div class="row">
						                  <div class="col-xs-4">
						                    <img src="{% static "static/images/reportes.png"%}" alt="" />
						                  </div>
						                  <div class="col-xs-8">
						                    <small class="stat-label">Reporte</small>
						                    <h3>Ventas</h3>
						                  </div>
						                </div><!-- row -->

						                <div class="mb15"></div>

						              <!--   <small class="stat-label">Avg. Visit Duration</small>
						                <h4>01:80:22</h4> -->

						              </div><!-- stat -->

						            </div><!-- panel-heading -->
                                    </a>
						          </div><!-- panel -->
						        </div><!-- col-sm-6 -->

						        <!--................................................-->
			            </div><!--panel-body-->
			          </div><!-- panel -->



			 </div>
	</div>


{% endblock content %}

{% block javascript %}
{%load staticfiles%}
 <script src="{% static "static/js/venta/homeEmpleado.js"%}"></script>
<!--	<script type="text/javascript">
	$(function() {
  		
  		$( ".leftpanel .leftpanelinner" ).on( "click", ".nav-parent", function() {
  				var menuSeleccionado=$(this).prop('id');
  				$(".menuGeneral").addClass('hidden');
  				$("."+menuSeleccionado).removeClass('hidden');

			});
	});
	</script>
-->
{% endblock javascript %}