{% extends "base.html" %}


{% block content %}


<div class = "row">

			<div class="col-sm-12">
			          <div class="panel panel-primary">
				            <div class="panel-heading">
				              	<div class="panel-btns">
				               	<!-- <a href="" class="panel-close">×</a> -->
					                <a href="" class="minimize">−</a>
					            </div><!-- panel-btns -->
					             <h3 class="panel-title">Modificar Venta</h3>
					         </div>
			            <div class="panel-body">
			                


 <div class="contentpanel">
                    <!-- content goes here... -->
                    
	    <div class="row">

		        <div class="table-responsive">
		                <div id="table1_wrapper" class="dataTables_wrapper no-footer">
		                <table class="table dataTable no-footer table-hidaction table-hover" id="table1" role="grid" aria-describedby="table1_info">
		                  <thead>
		                         <tr role="row">
		                            <th class="sorting_asc" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="activate to sort column ascending" style="width: 182px;">#</th>


		                            <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Empleado: activate to sort column ascending" style="width: 233px;">Realizado por</th>

		                            <th class="sorting center" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Monto Venta: activate to sort column ascending" style="width: 153px;">Monto Venta</th>

		                            <th class="sorting center" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Fecha: activate to sort column ascending" style="width: 110px;">Fecha </th>
		                            <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Codigo: activate to sort column ascending" style="width: 253px;"> Accion</th>

		                        </tr>
		                  </thead>


		                  <tbody>

		                    {% for  venta in  ventas %}

		                        <tr class="gradeA odd" role="row">

		                            <td class ="gradeA {% cycle 'odd' 'even' %}"> {{forloop.counter}}</td>
		                            <td>{{venta.empleado.trabajador.get_full_name}}</td>
		                            <td class = "center">{{venta.total}}</td>
		                            <td class ="center">{{venta.fecha_emision| date:" D d M Y" }}  {{venta.fecha_emision|date:"P"}}</td>
		                            <td class = "center"><a href="{% url "detalleventa" venta.id%}">Ver detalle</a></td>
		                        </tr>

		                    {% empty %}

		                        <tr class="gradeA odd" role="row">  


		                            <td class ="center" > No hay Ventas Registradas</td>
		                            <td></td>
		                            <td></td>
		                            <td></td>
		                            <td></td>
		                            
		                             
		                        </tr>

		                        
		                    {% endfor %}

		                 </tbody>
		               </table>
		           </div>
		    </div>

		<!-- tabla 2-->


					
	    </div><!-- row -->
                   


    </div> <!-- Content Panel -->









			            </div><!--panel-body-->
			          </div><!-- panel -->
			 </div>
	</div>





	
{% endblock content %}