{% extends "base.html" %}

{% load staticfiles%}
{% block css %}
<link href="{% static "static/css/imprimir/print.css"%}" rel="stylesheet" media="print">
<link href="{% static "static/css/imprimir/print2.css"%}" rel="stylesheet" media="print">
<link href="{% static "static/css/imprimir/print3.css"%}" rel="stylesheet">
{% endblock css %}
{% block content %}

    <div class="row">
        <div class="row col-xs-12 divBtnImprimir text-right"> 
            <button type="button" id="btnImprimir" class="btn btn-success">Imprimir <span class="glyphicon glyphicon-print"></span></button>
        </div>
        <div class="col-xs-12">
            <div class="row">
            <div class="invoice-title">
                <h2>{{venta.sucursal.id_almacen.nombre_empresa}}</h2>
                <h3 class="pull-right">Orden {{venta.id}}</h3>
            </div>
            </div>
           <!-- <hr> -->
            <div class="row">
                <div class="col-xs-6">
                    <!--<address> -->
                        <fieldset class="scheduler-border empresa">
                            <legend class="scheduler-border">Sucursal</legend>
                            <strong>{{venta.sucursal.nombre}}</strong><br/>
                            <br/>
                            <strong>{{venta.sucursal.direccion}}</strong>
                            <br/>
                            

                        </fieldset>
                  <!--  <strong>Billed To:</strong><br>
                        John Smith<br>
                        1234 Main<br>
                        Apt. 4B<br>
                        Springfield, ST 54321
                    -->
                   <!-- </address> -->
                </div>
                <div class="col-xs-6 text-right">
                   <!-- <address> -->
                        <fieldset class="scheduler-border cliente">
                            <legend class="scheduler-border">Nota de Venta</legend>
                            <strong>Ruc:</strong>  {{ venta.cliente.ruc_dni|default:"An&oacute;nimo" }} <br/>
                            <strong>Nro:</strong>  {{ venta.cliente.id }} <br/>
                            <strong>Fecha:</strong>{{venta.fecha_emision | date:" D d M Y"}}<br/>
                        </fieldset>
                   <!-- <strong>Shipped To:</strong><br>
                        Jane Smith<br>
                        1234 Main<br>
                        Apt. 4B<br>
                        Springfield, ST 54321
                    -->
                  <!--   </address> -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <fieldset>
                        <legend>Cliente</legend>
                      <div class="row">  


                        <div class='col-xs-8 col-md-8'>
                            <div class="form-group">
                                <label class="control-label">Raz&oacute;n Social / Nombres y Apellidos:  {{ venta.cliente.razon_social_nombre|default:"An&oacute;nimo" }}</label>
                           
                            </div>
                        </div> 
                        <div class='col-xs-4 col-md-4 text-center'>
                            <div class="form-group">
                                <label class="control-label">RUC:  {{ venta.cliente.ruc_dni|default:"An&oacute;nimo" }}</label>
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class='col-xs-8 col-md-8'>
                            <div class="form-group">
                                <label class="control-label">Fecha de Emisi&oacute;n: {{venta.fecha_emision | date:" D d M Y"}}</label>
                           
                            </div>
                        </div> 
                        <div class='col-xs-4 col-md-4 text-center'>
                            <div class="form-group">
                                <label class="control-label">Gu&iacute;a de Remisi&oacute;n </label>
                               
                            </div>
                        </div>
                    </div>


                    </fieldset>
                </div>
            </div>
          <!--  <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Payment Method:</strong><br>
                        Visa ending **** 4242<br>
                        jsmith@email.com
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Order Date:</strong><br>
                        March 7, 2014<br><br>
                    </address>
                </div>
            </div> -->
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Nota de Venta</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td class="text-center"><strong>Cantidad</strong></td>
                                    <td class="text-center"><strong>Producto</strong></td>
                                    <td class="text-center"><strong>Marca</strong></td>
                                    <td class="text-center"><strong>Precio</strong></td>
                                    
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->

                                {% for  det in detalle_venta %}
                                <tr>
                                    <td class="text-center">{{det.cantidad}}</td>
                                    <td  class="text-center">{{det.detalle_Sucursal_almacen_id.producto_id.codigo}}</td>
                                    <td  class="text-center">{{det.detalle_Sucursal_almacen_id.producto_id.marca.nombre}}</td>
                                    <td class="text-center">{{det.precio}}</td>
                                   
                                    <td class="text-right">{{det.importe}}</td>
                                </tr>

                                {% endfor%}
                                <tr>
                                <td class="text-right"  colspan="4"><strong>Total: </strong>
                                </td>
                                <td class="text-right">{{venta.total}}
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

{% block javascript %}

    {% load staticfiles %}
<script type="text/javascript">

    

    $(document).ready(function(){

        $("#btnImprimir").on("click", function(){
              window.print();
        });


    });
</script>
    
{% endblock javascript %}





