<!DOCTYPE html>
<html>
<head>
	<title> Reporte de Ventas</title>
</head>
 
 {%load staticfiles%}

<body>

	<div>
		<h1>
			<label> 	HOLA! : {{trabajador.trabajador.get_full_name}}</label 
		</h1> <br>

		<label> empleado : </label>  <label>{{trabajador.trabajador.get_full_name}}</label>	<br>
		<label> Codigo Puesto </label> : {{trabajador.sucursal.codigo_puesto}} <br>
		<label>Direccion :</label>   {{trabajador.sucursal.direccion}}  <br>
		<label>Departamento :  </label>  {{trabajador.sucursal.get_departamento_display}}<br>
		<label>Telefono</label> : {{trabajador.sucursal.telefono}} <br>
	</div>	


	<div>

	

			<h2> Resporte de Ventas </h2>

			<table>

				<thead>
					<tr>
						<th>Nro#</th>
						<th>Codigo</th>
						<th>Empleado</th>
						<th>Total</th>
						<th>Fecha</th>
					</tr>
				</thead>

				<tbody>

						
					{% for venta in ventas %}

							<tr>
								
									<td>{{forloop.counter}}</td>
									<td>=<a href="">por Definir=</a></td>
									<td>{{venta.empleado.trabajador.get_full_name}}</td>
									<td>{{venta.total}}</td>
									<td>{{venta.fecha_emision| date:" D d M Y" }} > {{venta.fecha_emision|date:"P"}}</td>
							</tr>


					{% empty %}

					<p> NO HAY VENTAS REGISTRADAS</p>


						
					{% endfor %}

					

				</tbody>


			</table>
			
	


	</div>


<link href="{% static "static/css/jquery.datatables.css"%}" rel="stylesheet">
<!--tabla 1 -->
<div class="row">
        
    
        
        <div class="col-md-12">
          <h5 class="subtitle mb5">Table With Actions on Hover</h5>
          <p class="mb20">An example of table with actions in every rows upon hover.</p>
          <div class="table-responsive">
          <table class="table table-hidaction table-hover mb30">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td class="table-action-hide">
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td class="table-action-hide">
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td class="table-action-hide">
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          </div><!-- table-responsive -->
        </div><!-- col-md-12 -->
        
</div>

<!--fin tabla 1 -->

<!-- tabla 2 -->

<div class="table-responsive">
            <div id="table1_wrapper" class="dataTables_wrapper no-footer">
            <table class="table dataTable no-footer table-hidaction table-hover" id="table1" role="grid" aria-describedby="table1_info">
              <thead>
                 <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column ascending" style="width: 182px;">Rendering engine</th><th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 253px;">Browser</th><th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 233px;">Platform(s)</th><th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 153px;">Engine version</th><th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 110px;">CSS grade</th></tr>
              </thead>
              <tbody>

              <tr class="gradeA odd" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Firefox 1.0</td>
                    <td>Win 98+ / OSX.2+</td>
                    <td class="center">1.7</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Firefox 1.5</td>
                    <td>Win 98+ / OSX.2+</td>
                    <td class="center">1.8</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA odd" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Firefox 2.0</td>
                    <td>Win 98+ / OSX.2+</td>
                    <td class="center">1.8</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Firefox 3.0</td>
                    <td>Win 2k+ / OSX.3+</td>
                    <td class="center">1.9</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA odd" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Camino 1.0</td>
                    <td>OSX.2+</td>
                    <td class="center">1.8</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Camino 1.5</td>
                    <td>OSX.3+</td>
                    <td class="center">1.8</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA odd" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Netscape 7.2</td>
                    <td>Win 95+ / Mac OS 8.6-9.2</td>
                    <td class="center">1.7</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Netscape Browser 8</td>
                    <td>Win 98SE+</td>
                    <td class="center">1.7</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA odd" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Netscape Navigator 9</td>
                    <td>Win 98+ / OSX.2+</td>
                    <td class="center">1.8</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr>

                 <tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr><tr class="gradeA even" role="row">
                    <td class="sorting_1">Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td class="center">1</td>
                    <td class="center">A</td>
                 </tr>

             </tbody>
           </table>
       </div>
          </div>

<!-- tabla 2-->


<script src="{% static "static/js/jquery.datatables.min.js"%}"></script>


 <script>
  jQuery(document).ready(function() {
    
    "use strict";
    
    jQuery('#table1').dataTable();
    
   
    
    // Select2
    
    
    
    // Delete row in a table
    jQuery('.delete-row').click(function(){
      var c = confirm("Continue delete?");
      if(c)
        jQuery(this).closest('tr').fadeOut(function(){
          jQuery(this).remove();
        });
        
        return false;
    });
    
    // // Show aciton upon row hover
    // jQuery('.table-hidaction tbody tr').hover(function(){
    //   jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    // },function(){
    //   jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    // });
  
  
  });
</script>





</body>
</html>