<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos JK - Ventas</title>
    <!-- Bootstrap core CSS -->
     {% load staticfiles %}
     <link href="{% static "static/css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "static/css/ventas.css" rel="stylesheet"%}">

</head>
<body>
    <nav class="navbar navbar-default col-lg-8 col-lg-offset-2">
      <div class="container-fluid">
        <div class="navbar-header col-lg-12">
            <p class="navbar-text col-lg-3">JK Mobile</p>
            <a class="navbar-brand text-center col-lg-4" id="tituloVenta" href="#">REGISTRO DE VENTAS</a>
            <span class="navbar-text col-lg-3 pull-right" id="sucursal">G-59</span>

        </div>
      </div>
    </nav>

    <div class="container">
        <form class="form-sales col-lg-12">
            <h4 class="form-sales-heading col-lg-6" id="fecha">Fecha: 13/03/2015</h4>
            <h4 class="form-sales-heading col-lg-6 pull-right" id="numeroVenta">N° 0000182</h4>
            <div class="row">
                <div class="col-lg-10" id="clientName">
                    <label for="inputName" class="sr-only">Cliente</label>
                    <input type="text" id="inputName" class="form-control" placeholder="Nombre del cliente" required autofocus>
                </div>

                <div class="input-group col-lg-2 id="pormenor"">
                    <button type="button" class="btn btn-success">Por menor</button>
                </div><!-- /input-group -->
            </div>

            <table class="table table-bordered" id="tab_logic">
              <thead>
                <tr>
                  <th class="col-md-1">#</td>

                    <th class="col-md-1">PRODUCTO</th>
                    <th class="col-md-1">   P. >  ,  < </th>




                  <th class="col-md-1">CANT.</th>
                  <th class="col-md-6">DESCRIPCIÓN</th>
                  <th class="col-md-2">P.UNIT</th>
                  <th class="col-md-2">IMPORTE</th>
                  <th class="col-md-1">Eliminar</th>
                </tr>
              </thead>
              <tbody>


              {% if  venta %}

                <h2>VENTA NUEVA</h2>
                <tr id='addr0'>
                  <td scope="row">1</td>

                  <td id="cmbd0">
                      <select id="cmb0" class ="cmb_producto">
                          <option value = "0">  Elegir .... </option>
                          {% for  producto in  productos %}

                            <option value = "{{ producto.producto_id.id}}">{{producto.producto_id}}</option>
                            
                          {% endfor %}
                      </select>
                  </td>

                  <td  id = "cmb_precio0" >  


                    <select  id = "cmb_pre0" class = "combo_precio">
                        <option value  = "menor" selected> P. menor </option>

                        <option value  = "mayor">P. mayor </option>
                    </select>


                  </td>


                  <td>
                      <input type="text" id="inputCantidad0" class="form-control cantidadPro" value= 1></input>
                  </td>
                  <td>
                      <input type="text" id="inputProductName0" class="form-control"></input>
                  </td>
                  <td>
                      <input type="text" id="unitPrice0" class="form-control precioPro"></input>
                  </td>
                  <td>
                      <input type="text" id="inputImport0" class="form-control"></input>
                  </td>
                  <td>
                    <div class="col-lg-1">
                     <a class="pull-center btn btn-default delete">-</a>
                   </div>
                  </td>
                </tr>
<!--                <tr id='addr1'>
                </tr> -->
              {% endif %}

              {% if modificar %}

                  <h2> Modificar Venta </h2>

                  {% for detalle in detalle_venta %}
                    
                  <tr id='addr{{forloop.counter0}}'>
                    
                       <td scope="row">{{forloop.counter}}</td>
                    
                    <td>

                        <select id="cmb{{forloop.counter0}}" class ="cmb_producto" disabled>

                            <option value = "{{ detalle.detalle_Sucursal_almacen_id.producto_id.id}}" selected>{{detalle.detalle_Sucursal_almacen_id.producto_id}}</option>
                            
                        </select>
                    </td>

                    <td  id = "cmb_precio{{forloop.counter0}}" >  

                        <select  id = "cmb_pre{{forloop.counter0}}" class = "combo_precio" disabled>
                          {% if detalle.tipo_precio == "menor"  %}
                            
                            <option value  = "menor" selected> P. menor </option>
                            <option value  = "mayor">P. mayor </option>

                          {%else%}

                            <option value  = "menor" > P. menor </option>
                            <option value  = "mayor" selected>P. mayor </option>


                          {% endif %}
                        </select>

                    </td>

                    <td>
                          <input type="text" id="inputCantidad{{forloop.counter0}}" class="form-control cantidadPro" value={{detalle.cantidad}} disabled></input>
                  
                    </td>

                    <td>
                          <input type="text" id="inputProductName{{forloop.counter0}}" class="form-control" value = "{{detalle.descripcion}}" disabled></input>
                    </td>
                    <td>
                          <input type="text" id="unitPrice{{forloop.counter0}}" value = "{{detalle.precio}}" class="form-control precioPro" disabled></input>
                    </td>
                    <td>
                          <input type="text" id="inputImport{{forloop.counter0}}" value = "{{detalle.importe}}"class="form-control" disabled></input>
                    </td>
                    <td>
                        <div class="col-lg-1">
                          <a class="pull-center btn btn-default delete">-</a>
                        </div>
                    </td>
                  </tr>

                  {% endfor %}

                
              {% endif %}
              </tbody>
            </table>

            <div class="row col-lg-12">
                <div class="col-lg-1">
                    <a id="add_row" class="btn btn-default pull-left">+</a>
                </div>

                <div class="col-lg-1">
                    <a id="delete_row" class="pull-right btn btn-default">-</a>
                </div>

                <div class="col-lg-1 col-lg-offset-6">
                    <span class="col-lg-6">Total</span>
                </div>


                <div class="col-lg-3">
                 {% if venta %}
                    <input type="text" id="total" class="form-control col-lg-4"></input>
                  {% endif %}

                  {% if  modificar %}
                     <input type="text" id="total" class="form-control col-lg-4" value = "{{ObjVenta.total}}"></input>

                     <input type="hidden" id = "venta_id" , value = "{{ObjVenta.id}}">
                  {% endif %}
                </div>
            </div>

            <div class="row col-lg-2 col-lg-offset-10" >
              {% if  venta %}
                
                  <input id="btn-vender" class="btn btn-primary pull-right" type="button" value="Vender">
              {% endif %}

              {% if modificar  %}

                  <input id="btn-modificar" class="btn btn-primary pull-right" type="button" value="Modificar">
                  <input id="btn-vender" class="btn btn-primary pull-right" type="button" value="Vender" disabled>
                
              {% endif %}


            </div>


        </form>


        <div id = "abc"> 
        </div>


    </div>

    <!-- Javascript for tables -->
    <script src="{% static "static/js/jquery-1.8.3.min.js"%}"></script>
    <script src="{% static "static/js/csrf.js"%}"></script>

    <script src="{% static "static/js/agregarVenta.js" %}"></script>
    <script src="{% static "static/js/modificarVenta.js" %}"></script>

    <!--<script src="{% static "static/js/ventas.js"%}"></script>-->

    <script type="text/javascript">

    $(document).ready(function(){

         $("#total").val(calcular_total()); 
    });



    $(document).ready(function(){

  
        var pro = [];
        var aux_pro=[];

                {% for producto in  productos %}


            pro ["{{producto.producto_id.id}}"]= { 
      "id" : "{{producto.producto_id}}",

      "estado":"1",
      "stock" : "{{producto.stock}}",
      "producto": {
                     "codigo":"{{producto.producto_id.codigo}}",
                     "color" :"{{producto.producto_id.get_color_display}}",
                     "id" : "{{producto.producto_id.id}}",
                     "precio_por_mayor":"{{producto.producto_id.precio_x_mayor}}",
                     "precio_por_menor":"{{producto.producto_id.precio_x_menor}}",

                     "marca":{
                        "nombre":"{{producto.producto_id.marca.nombre}}"
                     } ,

                   "tipo_producto":{

                       "nombre":"{{producto.producto_id.tipo_producto.nombre}}"
                    }


                  }

          }
          
        {% endfor %}



       {% if modificar %}
          {% for detalle in detalle_venta %}

          console.log("{{detalle.detalle_Sucursal_almacen_id.producto_id.id}}")
            pro["{{detalle.detalle_Sucursal_almacen_id.producto_id.id}}"].estado = 0
            aux_pro["{{detalle.detalle_Sucursal_almacen_id.producto_id.id}}"] =true;


          {%endfor%}

         
       {% endif %}



       console.log("producto",pro);
       console.log("productoAux",aux_pro);
        var to_cmb  = pro;
         comAux="";

  $('body').delegate("#tab_logic tbody tr .delete","click" , function(){

    var cmbProducto = $(this).parent().parent().parent().find('td:eq(1)').find("select");
   
      $(this).parent().parent().parent().fadeTo(400, 0, function () { 
        $(this).remove();
    });
      cambiarEstadoOff(cmbProducto.val());
      
      setTimeout(function(){
        $("#total").val(calcular_total());
      },401);
    return false;

  }); 

 $("body").delegate('.cmb_producto','focus', function () {


          var row = $(this).parent().parent();
          row.find('td:eq(3)').children().val(1);
          row.find('td:eq(5)').children().val(0);
          row.find('td:eq(6)').children().val(0);





    var ppp = $(this);
    console.log("dllFocus:",ppp.val());
    var au_p = aux_pro[ppp.val()];
    if(typeof au_p !== "undefined" && au_p==true )
    {
      console.log("testFOCUS");
      cambiarEstadoOff(ppp.val());
      delete aux_pro[ppp.val()];
    }
    //console.log(this.value);
    var pre = ppp.data('previous');
    if(typeof pre !== "undefined" && pre.toString()!="0")
    {
      cambiarEstadoOff(pre);

    }
    create_cmb(to_cmb,ppp.prop("id"));
    ppp.data('previous', ppp.val());

    $("#total").val(calcular_total()); 
    //console.log("new focuss-"+ddl.val());
}).on('change','.cmb_producto', function () {
    var nnn = $(this);
    console.log("dllChange:",nnn.val())
    console.log(this);

    var previous = nnn.data('previous');
    var actual=nnn.val();



    if(actual.toString()!="0")
    {
      cambiarEstadoON(actual);
    }
    if(previous!="0")
    {
      console.log("dllChangePrevv:",previous)
      cambiarEstadoOff(previous);
    }
    
    nnn.data('previous',actual);  

    $("#total").val(calcular_total()); 
    
});


    function cambiarEstadoOff(llave)
    {
      console.log("on")
      if(llave.toString()!="0")
      {
        to_cmb[llave].estado="1";
        
      }
    }
    function cambiarEstadoON(llave)
    {
      console.log("off");
      if(llave.toString() !="0")
      {
        to_cmb[llave].estado="0";
        
      }
    }
   

   function create_cmb(lista,iden){

    var  auxComb = document.getElementById(iden);
    var combo = (auxComb) ? auxComb:-1;
    //console.log("combix",combo)
    if(parseInt(combo) == -1 )
    {
      console.log("combo nuevo");

      combo = $("<select></select>").attr("class", "cmb_producto").attr("id","cmb"+iden);  
    }
    else
    {
      console.log("crear combo vacio")
       $("#"+iden).empty();
    }
  

    //console.log(lista)
    var keys = Object.keys(lista)

    //console.log(keys)

    $("<option/>" ,{value:0,text: "Elegir..."}).appendTo(combo);
    for(var i = 0  ;  i<keys.length  ; i++) {

          p = lista[keys[i]]
         
          if(p.estado.toString()=="1")
          {
            $("<option />", {value: p.producto.id, text: p.id}).appendTo(combo);
          }
     }

     return combo;
    }


    function create_cmb_to_tipoPrecio(iden){

        combo =  $("<select></select>").attr("class" , "combo_precio").attr( "id" , "cmb_pre"+iden );

        $("<option/>",{value: "menor"  ,  text : "P. menor"}).appendTo(combo);
        $("<option/>",{value: "mayor"  ,  text : "P. mayor"}).appendTo(combo);

        return combo;

    }


   
function calcular_importe( cantidad, precio ){
  var importe  = cantidad * precio; 
  return importe;
}


function getPrecio(producto , tipo){
    if(tipo =="menor"){

      return producto.producto.precio_por_menor

    }

    if(tipo =="mayor"){

      return producto.producto.precio_por_mayor
    }

}





// $('body').delegate("#tab_logic tbody tr","click" , function(){ 


//   //var col = $(this).parent().children().index($(this)); 
//   //var row = $(this).parent().parent().children().index($(this).parent()); 

//   var ComboProducto = $(this).find('td:eq(1)').find("select");
//   var ComboTipoPrecio = $(this).find('td:eq(2)').find("select");
//   var inputCantidad  = $(this).find('td:eq(3)').find("input:text");
//   var inputPrecioUnitario = $(this).find('td:eq(5)').find("input:text");
//   var inputImporte = $(this).find('td:eq(6)').find("input:text");
// // Primero sacamos el  Values del combo selecckonado
// //saber si el precio es por mayor o por menor ..... 
// // comparamos si el vamor del combo es diferente de  0   y ademas si es mayor a 0 
//   var valueComboProducto = ComboProducto.val();
  
//      if(valueComboProducto != 0 && valueComboProducto > 0){

//           var producto =  pro[valueComboProducto];
//           var tipoPrecio = ComboTipoPrecio.val();
//           var cantidad = inputCantidad.val();
//           inputPrecioUnitario.val( getPrecio(producto,tipoPrecio))
//           var precio = inputPrecioUnitario.val();


//           console.log("tipoPrecio  , Cantidad  ,  precio"  , tipoPrecio,cantidad , precio);
//            inputImporte.val(calcular_importe(cantidad,precio));

//      }

//      else {
//           inputImporte.val("");
//           inputCantidad.val(1);
//           inputPrecioUnitario.val("");
//      }
//  $("#total").val(calcular_total());       
// });

  $("body").delegate(".cmb_producto","change",function(){

      var valueComboProducto = $(this).val()
      var row = $(this).parent().parent();

      if(valueComboProducto != 0 && valueComboProducto > 0){      

          var producto = pro[valueComboProducto];
          var tipoPrecio = row.find('td:eq(2)').children().val();
          var cantidad = row.find('td:eq(3)').children().val();

          row.find('td:eq(5)').children().val(getPrecio(producto,tipoPrecio));
          var precio = row.find('td:eq(5)').children().val();


          console.log("tipoPrecio  , Cantidad  ,  precio"  , tipoPrecio,cantidad , precio);
          row.find('td:eq(6)').children().val(calcular_importe(cantidad,precio));



      }

       else {
          row.find('td:eq(3)').children().val(1);
          row.find('td:eq(5)').children().val(0);
          row.find('td:eq(6)').children().val(0);

        }

    $("#total").val(calcular_total());    

  });



  $("body").delegate(".combo_precio" , "change" , function(){



          var tipoPrecio = $(this).val();

          var row = $(this).parent().parent();
          console.log(row);

          var valueComboProducto = row.find('td:eq(1)').children().val();

          if(valueComboProducto != 0 && valueComboProducto > 0){      

          var producto = pro[valueComboProducto];
          var cantidad = row.find('td:eq(3)').children().val();
          row.find('td:eq(5)').children().val(getPrecio(producto,tipoPrecio));
          var  precio = row.find('td:eq(5)').children().val();
          row.find('td:eq(6)').children().val(calcular_importe(cantidad,precio));
          $("#total").val(calcular_total());    
          } 

          else {

            alert("Selecciona un producto ");
          }

  });





  $('body').delegate(".cantidadPro",'keyup' , function(){

          var row = $(this).parent().parent();
          var cantidad = 1;
          //var inputPrecioUnitario=$(this).parent().parent().parent().find('td:eq(5)').find("input:text");
          var inputPrecioUnitario=row.find('td:eq(5)').find("input:text");
          var inputImporte = row.find('td:eq(6)').find("input:text");

          // este input inporte hace referencia a  primero que encuentra ,  no a la fila que pertenece
            try{

              cantidad = parseInt($(this).val());
              //console.log("CANTIDAD : " , cantidad  ,  $(this).val() )  ;
               if (!isNaN(cantidad)){
    
                    $(this).val(cantidad);
               }


               else{

                  cantidad = 1;
                  $(this).val("")

               }
              
            }

            catch(exception){

             $(this).val("1"); 

             console.log("DIEGO :D");

            }
            finally
            {
               var precio = inputPrecioUnitario.val();

              inputImporte.val(calcular_importe(cantidad,precio));
              $("#total").val(calcular_total()); 
            }
        });

  $('body').delegate(".precioPro",'keyup' , function(){

          var row = $(this).parent().parent();
          var precio  = $(this).val();
          var cantidad = row.find('td:eq(3)').children().val(); 
          //var inputPrecioUnitario=$(this).parent().parent().parent().find('td:eq(5)').find("input:text");
          //var inputPrecioUnitario=row.find('td:eq(5)').find("input:text");
          var inputImporte = row.find('td:eq(6)').children();


          // este input inporte hace referencia a  primero que encuentra ,  no a la fila que pertenece
            try{

              precio = parseFloat($(this).val());
              //console.log("CANTIDAD : " , cantidad  ,  $(this).val() )  ;
               if (!isNaN(precio)){
    
                    $(this).val(precio);
               }


               else{


                  var valueComboProducto = row.find('td:eq(1)').children().val();
                  var tipoPrecio = row.find('td:eq(2)').children().val();
                  producto = pro[valueComboProducto];



                  $(this).val(getPrecio(producto,tipoPrecio));

               }
              
            }

            catch(exception){

                var valueComboProducto = row.find('td:eq(1)').children().val();
                var tipoPrecio = row.find('td:eq(2)').children().val();
                producto = pro[valueComboProducto];



                $(this).val(getPrecio(producto,tipoPrecio));

                console.log("DIEGO :D");

            }
            finally
            {
              

              inputImporte.val(calcular_importe(cantidad,precio));
              $("#total").val(calcular_total()); 
            }
        });


$('body').delegate('.cantidadPro','blur', function(){
        var cantidad = 1;
        var  row = $(this).parent().parent();

       // var inputPrecioUnitario=$(this).parent().parent().parent().find('td:eq(5)').find("input:text");
        var inputPrecioUnitario=row.find('td:eq(5)').find("input:text");
      // var inputImporte = $(this).parent().parent().parent().find('td:eq(6)').find("input:text");
        var inputImporte = row.find('td:eq(6)').find("input:text");
        alert("CANTIDAD BLUR"+inputPrecioUnitario.val());
          
          try
          { 
            cantidad = parseInt($(this).val());

            if(isNaN(cantidad))
            {
              $(this).val(1);
              cantidad= 1;
            }            
          }
          catch(exception )
          {
            $(this).val("1");
          }
          finally
          {
            var precio = inputPrecioUnitario.val()
            inputImporte.val(calcular_importe(cantidad,precio))
            $("#total").val(calcular_total()); 
          }
          
      });


  //console.log(find('td:eq(0)'));

   var i=1;
   var max =  Object.keys(pro).length;

   
   $("#add_row").click(function(){

           cantidadFilas = $("#tab_logic tbody tr").length;
           console.log("cantidad" , cantidadFilas)
           var list = [];

         console.log("Valor   i : " ,   i )

          

          if (cantidadFilas < max)  {

            $("#tab_logic tbody").append('<tr id="addr'+i+'"> </tr>')


            $('#addr'+i).html("<td>"+ (i+1) +"</td> <td id= 'cmbd"+i+"'>  </td>  <td id = 'cmb_precio"+i+"'></td> <td><input name='inputCantidad"+i+"' type='text' class='form-control cantidadPro input-md' value ='1' /></td><td><input  name='inputProductName"+i+"' type='text' class='form-control input-md'></td><td><input  name='unitPrice"+i+"' type='text' class='form-control input-md precioPro'></td><td><input  name='inputImport"+i+"' type='text' class='form-control input-md'></td><td><div class='col-lg-1'><a class='pull-center btn btn-default delete'>-</a></div></td>");


            $('#cmbd'+i).append(create_cmb(to_cmb,i));
            $('#cmb_precio'+i).append(create_cmb_to_tipoPrecio(i));

            i++;




            //$('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');

          }

          else {
            console.log("Ya no se pueden agregar más ");
          }
    });

  });      


  function calcular_total(){


    var total  = 0 ; 

    $("#tab_logic tbody tr").each(function(){

       var importe = $(this).find('td:eq(6)').find("input:text").val();


       total+= parseFloat(validarEntrada(parseFloat(importe)));

    });

    if(isNaN(total))
    {
      total=0;
    }
    return total;



  }

  function validarEntrada(numero)
  {

    if(!isNaN(numero) && numero !="" && numero>=0) {
      
      return numero;
    }

    else{
        return 0;
      }
  }








    </script>
</body>
</html>